<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>FROM-APK-TO-IMAGE</title>
  </head>
  <body>
    <form
      action="{{ url_for('upload_apk') }}"
      method="POST"
      enctype="multipart/form-data"
    >
      <h2 style="text-align: center">
        THIS TOOL IS USED TO CONVERT APK FILES TO GRAYSCALE IMAGES
      </h2>
      <label for="apk-file-to-image">Choose your apk file</label>
      <br /><br />
      <input type="file" id="apk-file-to-image" name="file" multiple />
      <button type="submit" value="Submit">Submit</button>
    </form>
  </body>
</html>
